$mobile-width: 375px;
$laptop-width: 720px;
$desktop-width: 1440px;

$color-primary-nutmeg: hsl(14, 45%, 36%);
$color-primary-dark-raspberry: hsl(332, 51%, 32%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-rose-white: hsl(330, 100%, 98%);
$color-neutral-eggshell: hsl(30, 54%, 90%);
$color-neutral-light-grey: hsl(30, 18%, 87%);
$color-neutral-wedge-brown: hsl(30, 10%, 34%);
$color-neutral-dark-charcoal: hsl(24, 5%, 18%);

$font-size-body: 16px;
$font-size-mobile-heading-l: 36px;
$font-size-mobile-heading-m: 28px;
$font-size-mobile-heading-s: 20px;
$font-size-desktop-heading-l: 40px;
$font-size-desktop-heading-m: 28px;
$font-size-desktop-heading-s: 20px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-body: 1.5;
$line-height-heading: 1;
