@use '../base/variables';

@mixin font-family-outfit($font-weight: 400, $line-height: 1.5, $font-style: normal) {
  font-family: "Outfit", sans-serif;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
}

@mixin font-family-young-serif($font-weight: 400, $line-height: 1.5, $font-style: normal) {
  font-family: "Young Serif", serif;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
}

@mixin responsive($property, $mobile-value: none, $laptop-value: none, $desktop-value: none) {
  @if $mobile-value !=none {
    #{$property}: $mobile-value;
  }

  @if $laptop-value !=none {
    @media (min-width: $laptop-width) {
      #{$property}: $laptop-value;
    }
  }

  @if $desktop-value !=none {
    @media (min-width: $desktop-width) {
      #{$property}: $desktop-value;
    }

  }
}
